body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  // display: grid;
  height: 100vh;
  // place-items: center;
  position: relative;

  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  color: white;
  text-transform: uppercase;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  height: 4rem;
}
